#banner{text-align:left;overflow:visible;}
#news{border:1px solid #ff2050;margin:2px;overflow:auto;height:100px;padding:0 10px;text-align:left;}
#new{font-size:larger;}
#buttons{text-align:center;}
#buttons a{padding:0;}
